body {
    background-color: black;
    margin: 0;
    padding: 0;
}

nav {
    height: 120px;
    width: 100%;
    border: 5px solid #1e1e1e;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger-menu-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.nav-links {
    display: flex;
    align-items: center;
}

nav button {
    display: inline-block;
    color: #ffffff;
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

nav button:hover {
    background-color: #333333;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin-top: 90px;
}

@font-face {
    font-family: 'Wheaton';
    src: url('assets/fonts/wheaton\ capitals.otf');
}

.hero-text {
    flex: 1;
    color: red;
    text-align: center;
}

.hero-text h1 {
    font-family: Wheaton;
    font-size: 200px;
    line-height: 175px;
    margin: 0;
}

.hero-text h2 {
    font-size: 36px;
    margin: 0;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.hero-button {
    display: inline-block;
    color: #ffffff;
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 10px;
}

.hero-button:hover {
    background-color: #333333;
}

.hero-image {
    width: 1150px;
    height: 1000px;
    border: 5px solid #1e1e1e;
}

@media (max-width: 1765px) {

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        text-align: center;
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 145px;
        line-height: 125px;
    }

    .hero-text h2 {
        font-size: 24px;
    }

    .hero-image {
        width: 100%;
        min-height: 400px;
        height: 600px;
        max-width: 800px;
    }

    .hero-buttons {
        flex-direction: column;
        justify-content: flex-end;
    }

    .hero-button {
        margin: 10px 0;
    }
}

@media (max-width: 900px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        text-align: center;
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 100px;
        line-height: 85px;
    }

    .hero-text h2 {
        font-size: 36px;
    }

    .hero-image {
        width: 100%;
        min-height: 300px; /* Provide a minimum height */
        max-width: 600px;

    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-button {
        margin: 10px 0;
    }
}

@media (max-width: 615px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        text-align: center;
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 60px;
        line-height: 55px;
    }

    .hero-text h2 {
        font-size: 36px;
    }

    .hero-image {
        width: 100%;
        min-height: 300px; /* Provide a minimum height */
        max-width: 600px;

    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-button {
        margin: 10px 0;
    }
}